* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}
.container {
  background-color: #23424a;
  margin: auto 0;
  padding: 80px 100px;
}
.intro {
  width: 55%;
}

.title {
  color: #ffffff;
  font-size: 48px;
  line-height: 56px;
  font-weight: 900;
}
.info {
  color: #ffffffd9;
  line-height: 32px;
  font-size: 21px;
  font-weight: 400;
}

.button {
  text-decoration: none;
  color: #072a2d;
  background-color: #38cfd9;
  font-size: 21px;
  line-height: 32px;
  font-weight: 700;
  padding: 11px 49px;
  border-radius: 25px;
}
